// import styled from "styled-components";

.projects-main {
  // background-color: yellowgreen;
  height: 95%;
  // overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pro {
  // background-color: pink;
  height: 80%;
  overflow-y: hidden;
}

.projects {
  // background-color: blue;
  height: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-rows: min-content 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: .4rem;

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
  }
}

.project-image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.box {
  // background-color: yellow;
}

.header {
  // background-color: plum;
  grid-row: 1/2;
  grid-column: 1 / span 2;

  display: flex;
  justify-content: space-between;
  border-bottom: 0.2rem solid gray;
  padding-bottom: 0.2rem;
}
.one {
  background-color: red;
  grid-row: 2/3;
  grid-column: 1/2;
}
.two {
  background-color: bisque;
  grid-row: 2/3;
  grid-column: 2/3;
}
.three {
  background-color: burlywood;
  grid-row: 3/4;
  grid-column: 1 / span 2;
}
.four {
  background-color: aqua;
  grid-row: 1/4;
  grid-column: 3/4;
}

// const CardIn = keyframes`
//     0% {
//       opacity: 0;
//       transform: translateY(-15rem);
//     }
//     50% {
//       opacity: 0.6;
//     }
//     100% {
//       opacity: 1;
//       transform: translate(0);
//     }
// `;

// export const ProjectsMain = styled.main`
//   ${"" /* background-color: yellowgreen; */}
//   height: 97.27%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// `;

// export const Card = styled.div`
//   ${"" /* background-color: orangered; */}
//   height: 60%;
//   width: 30.33%;
//   border: 0.38rem solid #ffffff;
//   background-color: rgba(250, 250, 250, 0.74);
//   border-radius: 2.4rem;
//   filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.382));
//   position: relative;

//   animation-name: ${CardIn};
//   animation-duration: 2s;

//   text-align: center;
// `;

// export const CardCover = styled.img`
//   width: 100%;
//   height: 100%;
//   object-fit: cover;

//   border-radius: 2.4rem;
// `;
