.app {
  height: 100%;
  width: 100%;
  border: 0.38rem solid #ffffff;
  background-color: rgba(250, 250, 250, 0.74);
  border-radius: 2.4rem;
  filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.382));

  display: flex;
  padding: 2% 4%;
  position: relative;

  animation: appIn 2s ease-out;

  @media only screen and (max-width: 600px) {
    display: block;
    border-radius: 0;
    overflow-x: hidden;
  }
}

@keyframes appIn {
  0% {
    opacity: 0;
    transform: translateY(-15rem);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
