:root {
  // font-family: "Montserrat", sans-serif;
  /*line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
  font-size: 62.5%;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  /* background-image: url("./assets/exp_bg.jpg"); */

  @media only screen and (min-width: 1080px) {
    font-size: 52%;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 62.5%
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10.5%;
  background-color: rgba(250, 250, 250, 0.607);

  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}
